@import url('https://fonts.googleapis.com/css2?family=Carme&family=Marvel:wght@700&family=Nunito:wght@800&display=swap');

.bg-deep-orange {
    background-color: #DF6D00;
}

.bg-deep-fuscia {
    background-color: #BF0D38;
}

.bg-pale-yellow {
    background-color: #f7b76c;
}

.brand-logo, nav li {
    font-family: 'Marvel', sans-serif;
    margin: 0px 0px 0px 15px;
}

nav li a {
    font-size: 18px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.deep-fuscia-text {
    color: #BF0D38;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
}

footer p, .card-content p {
    font-family: 'Carme', sans-serif;
    color: #ffffff;
}

.nunito-white, .card-title {
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
}

.card-image {
    padding: 10px;
}

.card {
    border-radius: 5px;
}

.first-page-item {
    margin-top: 20px;
}

.card-title {
    margin-top: 8px;
}

p {
    margin: 0px;
}

.btn {
    width: 100%;
    border-radius: 5px;
}

.btn-large {
    border-radius: 5px;
}

.btn:hover, .btn-large:hover {
    background-color: #DF6D00;
}

.btn-recipe {
    margin-top: 16px;
    font-family: 'Nunito', sans-serif;
}

.links {
    height: 21.75px;
}

.links li {
    float: right;
    margin-right: 30px;
}

.links li:first-child {
    margin-right: 0px;
}

a {
    color: #FFFFFF;
}

a:hover {
    color: #BF0D38;
}