@import url('https://fonts.googleapis.com/css2?family=Carme&family=Marvel:wght@700&family=Nunito:wght@800&display=swap');

.bg-deep-orange {
    background-color: #DF6D00;
}

.bg-deep-fuscia {
    background-color: #BF0D38;
}

.bg-pale-yellow {
    background-color: #f7b76c;
}

.brand-logo {
    font-family: 'Marvel', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.deep-fuscia-text {
    color: #BF0D38;
}

h3 {
    font-family: 'Nunito', sans-serif;
}

footer p, .card-content p {
    font-family: 'Carme', sans-serif;
    color: #ffffff;
}

.nunito-white, .card-title, .card-action {
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
}

.card-image {
    padding: 10px;
}

.card {
    border-radius: 5px;
}