{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m12 l12">
        <div class="card bg-deep-fuscia first-page-item">
            <div class="card-content">
                <p>Username: {{ current_user.username.capitalize() }}</p>
                <p>Favourite Cuisine: {{ current_user.favourite_cuisine }}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6 l6">
        <a href="{{ url_for('edit_account', user_id=current_user.id) }}" class="btn bg-deep-fuscia">
            <p class="nunito-white">Edit Account Details</p>
        </a>
    </div>
    <div class="col s12 m6 l6">
        <a href="{{ url_for('delete_account', user_id=current_user.id) }}" class="btn bg-deep-fuscia">
            <p class="nunito-white">Delete Account</p>
        </a>
    </div>
</div>

{% endblock %}