{% extends "base.html" %}
{% block content %}

<h3 class="deep-fuscia-text nunito center-align">Login</h3>

<div class="row card-panel">
    <form class="col s12" method="POST" action="{{ url_for('login') }}">
        <!-- username -->
        <div class="row">
			<div class="input-field col s12">
				<i class="fas fa-user-plus prefix"></i>
				<input id="username" name="username" type="text" minlength="5"
                    maxlength="20" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
				<label for="username">Username</label>
			</div>
            <!-- password -->
            <div class="input-field col s12">
			    <i class="fas fa-user-lock prefix"></i>
                <input id="password" name="password" type="password" minlength="5"
                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                <label for="password">Password</label>
            </div>
        </div>
        <!-- login -->
        <div class="row">
            <button type="submit" class="col s12 btn-large bg-deep-fuscia nunito-white">Login</button>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align">
            New Here? <a href="{{ url_for('register') }}" class="deep-fuscia-text hover-orange">Register</a>
        </p>
    </div>
</div>

{% endblock %}