{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m12 l12">
        <div class="card bg-deep-fuscia first-page-item">
            <div class="card-content">
                <p>Username: {{ current_user.username.capitalize() }}</p>
                <p>Favourite Cuisine: {{ current_user.favourite_cuisine }}</p>
            </div>
        </div>
    </div>
</div>

<h3 class="deep-fuscia-text nunito center-align">{{ current_user.username.capitalize() }}'s Recipes</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_recipe') }}" class="btn-large bg-deep-fuscia">
            <p class="nunito-white">Add Recipe</p>
        </a>
    </div>
</div>

{% if recipes|length %}
<div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m6 l4">
        <div class="card bg-pale-yellow">
            <div class="card-image">
                <img src="static/img/generic_recipe.jpg">
            </div>
            <div class="recipe-card-content">
                <span class="card-title">{{ recipe.recipe_title }}</span>
                <p>{{ recipe.recipe_description }}</p>
                <a href="{{ url_for('view_recipe', recipe_id=recipe.id) }}" class="btn btn-recipe bg-deep-fuscia">More Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="row">
    <div class="col s12">
        <p class="center-align">You currently have no recipes, why not add one or check out other recipes
            <a href="{{ url_for('home') }}" class="deep-fuscia-text hover-orange">here</a>
        </p>
    </div>
</div>
{% endif %}

{% endblock %}