{% extends "base.html" %}
{% block content %}
<div class="row first-page-item">
    <div class="col s12 m6 l6">
        {% if recipe.recipe_photo|length %}
            <img class="recipe-img" src="{{ recipe.recipe_photo }}">
        {% else %}
            <img class="recipe-img" src="static/img/generic_recipe.jpg" alt="">
        {% endif %}
    </div>
    <div class="col s12 m6 l6">
        <div class="card bg-deep-fuscia">
            <div class="card-content">
                <span class="card-title">{{ recipe.recipe_title }}</span>
                <p>Created: {{ recipe.created_at }}</p>
                <p>Creator: {{ recipe.creator.capitalize() }}</p>
            </div>
        </div>
        <p class="recipe-description">{{ recipe.recipe_description }}</p>
    </div>
</div>

{% if recipe.created_by == current_user.id or current_user.username == 'admin' %}
<div class="row">
    <div class="col s12 m6 l6">
        <div class="card-action">
            <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}" class="btn bg-deep-fuscia">
                <p class="nunito-white">Edit Recipe</p>
            </a>
        </div>
    </div>
    <div class="col s12 m6 l6">
        <div class="card-action">
            <!-- Modal Trigger -->
            <a class="btn bg-deep-fuscia waves-effect waves-light modal-trigger" href="#delete_recipe">
                <p class="nunito-white">Delete Recipe</p>
            </a>
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col s12 m12 l12">
        <div class="card bg-pale-yellow">
            <div class="card-content">
                <span class="card-title">Ingredients</span>
                <p>{{ recipe.recipe_ingredients }}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m12 l12">
        <div class="card bg-pale-yellow">
            <div class="card-content">
                <span class="card-title">Method</span>
                <p>{{ recipe.recipe_method }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block modals %}
<!-- Modal Structure -->
<div id="delete_recipe" class="modal">
    <div class="modal-content center-align">
        <h3>Are you sure you want to delete this recipe?</h3>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col s12 m6 l6">
                <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" class="btn delete-btn">
                    <p class="nunito-white">Yes, delete</p>
                </a>
            </div>
            <div class="col s12 m6 l6">
                <a href="{{  url_for('view_recipe', recipe_id=recipe.id)}}" class="modal-close btn no-btn">
                    <p class="nunito-white">No, go back</p>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}